.todoListMain .headerBar {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #8de2e8;
  width: 100%;
  padding-bottom: 8px;
  font-size: 32px;
  color: white;
  justify-content: center;
  z-index: 1;
  padding-top: 8px;
}

.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  width: 165px;
}
.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
.todoListMain .list {
  list-style: none;
  padding-left: 0;
  width: 250px;
}
.todoListMain .list li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}
